{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'hotel_management_sys/css/log.css' %}">
<link rel="stylesheet" href="{% static 'hotel_management_sys/css/footer.css' %}">
{% endblock %}

{% block content %}
<div class="content container">
  <div class="image">
    <img src="https://lh4.googleusercontent.com/proxy/jT8ASlO5ELgENYmcLdcKHyqwbEOVT0-sbGnAKguUQUokD2OYuPSR5cBi8qKsZGqBAF29Nr8yq3AccnXsKAOmp4hDo3qgU51SmMLRV4vOapQF5Zmz=s0-d">
  </div>

  <div>
    <h1 class="section-header">{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>

</div>



{% endblock %}
