/* Root CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: white;
    color: rgb(236, 235, 228);
    font-family: sans-serif;
    line-height: 1.25;
}

/* Inside Room Divs */
h2{
    margin: 0.25rem;
}
a{
    text-decoration: none;
    color: #777;
}
img{
    max-width:90%;
}

.about-section {
    margin: 1em;
}

.container {
    margin: 1em;
    padding: 0 1.5em;
}

.section-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gallery-pic {
    margin: 10px;
    flex: 1 0 21%;
    height: 100px;
    padding:2rem;
}

.gallery-pics {
    display: flex;
    flex-wrap: wrap;

}
