/* Root CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background-color: #333;
    color: rgb(236, 235, 228);
    font-family: sans-serif;
    line-height: 1.25;
}

.container {
    margin: 1em;
    padding: 0 1.5em;
}

.section-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: rgb(236, 235, 228);
    text-align: center;
    font-size: 2.5em;
}


/* Main Div */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
}

/* Room Divs */
.room{
    max-width:40%;
    min-width: 400px;
    text-align: center;
    border-radius: 0.5rem;
    padding:1rem;
    margin:0.5rem;
    background-color: #444;
    flex: 1;
}

.room:hover{
    background-color: #353535;
}

.bookings{
    margin-top: 2rem;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.booking{
    flex:1;
    max-width:20vw;
    min-width: 20rem;
    text-align: left;
    border: 1px solid #dbdbdb;
    padding:1rem;
    border-radius: 0.75rem;
    margin:1rem;
}
.booking:hover{
    cursor: pointer;

}
img{
    max-width: 100%;
}
a i{
    margin: 1rem;
    color:rgb(236, 235, 228);
    text-decoration: none;
}
.home a i{
    font-size: 1.7rem;

}

h1,h2{
    margin:1rem;
}
.booking a i{
    font-size: 1.1rem;
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.booking:hover .cancel a i,.cancel a i:hover{
    visibility: visible;
  opacity: 1;
}
.cancel a i:hover{
    color: rgb(206, 43, 43);

}