@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/* Root CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: #777;

}
body{
    background-color: white;
    color: rgb(236, 235, 228);
    font-family: sans-serif;
    line-height: 1.25;
}

/* Inside Room Divs */
h2{
    margin: 0.25rem;
}
a{
    text-decoration: none;
    color: #dbdbdb;
}
img{
    max-width:90%;
}

.about-section {
    margin: 1em;
}

.container {
    margin: 1em;
    padding: 0 1.5em;
}

.section-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Main Div */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
}

/* Room Divs */
.room{
    max-width:40%;
    min-width: 400px;
    text-align: center;
    border-radius: 0.5rem;
    padding:1rem;
    margin:0.5rem;
    background-color: #444;
    flex: 1;
}