{% extends "base.html" %}
{% load static %}

    {% block stylesheets% %}
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/bookings.css' %}">
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/booking_list.css' %}">
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/footer.css' %}">
    {% endblock %}

    {% block content %}
        <section class="about-section container">
            <h2 class="section-header"> Your Bookings</h2>
            {% if booking_list %}
            <div class="bookings">
                {% for booking in booking_list %}
                <div class="booking">
                    <img src="https://images.unsplash.com/photo-1560067174-c5a3a8f37060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80"
                        alt="">
                    <div class="type">
                        <h2>{{booking.get_room_type}} Room</h2>
                    </div>
                    <div class="user">
                        <h3>User: {{booking.user}}</h3>
                    </div>
                    <div class="from">
                        <h3>From: {{booking.check_in}}</h3>
                    </div>
                    <div class="to">
                        <h3>To: {{booking.check_out}}</h3>
                    </div>
                    <div class="beds">
                        <h3>Beds: {{booking.room.beds}}</h3>
                    </div>
                    <div class="capacity">
                        <h3>Capacity: {{booking.room.capacity}}</h3>
                    </div>
                    <div class="cancel"><a href="{{booking.get_cancel_booking_url}}" class="invisible"><i
                                class="far fa-2x fa-times-circle"> Cancel
                                Booking</i></a></div>

                </div>
                {% endfor %}
             </div>
            {% else %}
            <div class="bookings">
                <div class="booking">
                    <img src="https://images.unsplash.com/photo-1560067174-c5a3a8f37060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80"
                        alt="">
                </div>
                 <div class="booking">
                    <img src="https://images.unsplash.com/photo-1560067174-c5a3a8f37060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80"
                        alt="">
                </div>
                 <div class="booking">
                    <img src="https://images.unsplash.com/photo-1560067174-c5a3a8f37060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80"
                        alt="">
                </div>
            {% endif %}
        </section>

    {% endblock %}
