{% extends "base.html" %}
{% load static %}

    {% block head %}
    <title> Cancel booking </title>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/rooms.css' %}">
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/detail.css' %}">
    {% endblock %}

    {% block content %}
    <!-- Main Content -->
    <div class="content">

        <!-- Room Details -->
        <div class="room">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'hotel_management_sys:BookingListView' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <!-- Div 3: Room Booking Form -->
            <form id="booking-form" action="" method="POST">

                {% csrf_token %}
                <h2>Are you sure you want to cancel this booking?</h2>
                <h2> Details:</h2>
                <div class="type">
                    <h2>{{booking.get_room_type}} Room</h2>
                </div>
                <div class="user">
                    <h3>User: {{booking.user}}</h3>
                </div>
                <div class="from">
                    <h3>From: {{booking.check_in}}</h3>
                </div>
                <div class="to">
                    <h3>To: {{booking.check_out}}</h3>
                </div>
                <div class="beds">
                    <h3>Beds: {{booking.room.beds}}</h3>
                </div>
                <div class="capacity">
                    <h3>Capacity: {{booking.room.capacity}}</h3>
                </div>
                <!-- Input Div -->
                <div class="input-div">
                    <button type="submit">Cancel the Booking</button>
                </div>

            </form>

        </div> <!-- END Room Div -->

    </div> <!-- END Main Content Div -->
    {% endblock %}
