{% extends "base.html" %}
{% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/homepage.css' %}">
    {% endblock %}

    {% block content %}
    <section class="welcome-section container">
        <h2 class="section-header"> Welcome</h2>
        <p class="paragr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere nulla in dui sodales fermentum. Nam ut turpis faucibus, ullamcorper justo ut, accumsan neque. Morbi volutpat urna vitae est pharetra scelerisque. Fusce auctor ligula eget est dictum, vel commodo nisi auctor. Aliquam egestas purus diam, interdum tempus nunc pharetra vel. Maecenas interdum tincidunt nisi, quis commodo purus vulputate vitae. Donec aliquam viverra nibh, at semper mauris condimentum ac. Nulla vel sagittis sem, et interdum dui. Donec accumsan ipsum eget quam suscipit luctus.</p>
    </section>

    <section class="book-section container">
        <h2 class="section-header"> Book now</h2>
        <p class="paragr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus posuere nulla in dui sodales fermentum. Nam ut turpis faucibus, ullamcorper justo ut, accumsan neque. Morbi volutpat urna vitae est pharetra scelerisque. Fusce auctor ligula eget est dictum, vel commodo nisi auctor. Aliquam egestas purus diam, interdum tempus nunc pharetra vel. Maecenas interdum tincidunt nisi, quis commodo purus vulputate vitae. Donec aliquam viverra nibh, at semper mauris condimentum ac. Nulla vel sagittis sem, et interdum dui. Donec accumsan ipsum eget quam suscipit luctus.</p>
        <div>
            <button class="btn"><a href="{% url 'hotel_management_sys:RoomListView' %}">See rooms</a></button>
        </div>
    </section>

    <section>
        <h2 class="section-header"> Gallery </h2>
        <div class="content">
            <div class="room">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/198018511.jpg?k=a75dd14d18f20e3f31f070c995f426d765f7c8b9fbd0c640c62d13d9228198a2&o=&hp=1">
            </div>
            <div class="room">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/198018511.jpg?k=a75dd14d18f20e3f31f070c995f426d765f7c8b9fbd0c640c62d13d9228198a2&o=&hp=1">
            </div>
            <div class="room">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/198018511.jpg?k=a75dd14d18f20e3f31f070c995f426d765f7c8b9fbd0c640c62d13d9228198a2&o=&hp=1">
            </div>
        </div>

        <div class="content">
            <div class="room">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/198018511.jpg?k=a75dd14d18f20e3f31f070c995f426d765f7c8b9fbd0c640c62d13d9228198a2&o=&hp=1">
            </div>
            <div class="room">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/198018511.jpg?k=a75dd14d18f20e3f31f070c995f426d765f7c8b9fbd0c640c62d13d9228198a2&o=&hp=1">
            </div>
            <div class="room">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/198018511.jpg?k=a75dd14d18f20e3f31f070c995f426d765f7c8b9fbd0c640c62d13d9228198a2&o=&hp=1">
            </div>
        </div>

    </section>
    {% endblock %}

