{% extends "base.html" %}
{% load static %}

    {% block head %}
    <title> Rooms </title>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/rooms.css' %}">
    {% endblock %}

    {% block content %}
    <section class="rooms-section container">
        <h2 class="section-header"> Rooms</h2>
        <div class="content">
        {% for room_type, room_url, room_path in room_list %}
        <div class="room">
            <a href="{{room_url}}">
                <img src="{% static room_path %}"/>
                <h2>{{room_type}}</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi</p>
            </a>
        </div>
        {% endfor %}
    </div>
    </section>
    {% endblock %}