{% extends "base.html" %}
{% load static %}

    {% block head %}
    <title> Services </title>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'hotel_management_sys/css/rooms.css' %}">
    {% endblock %}

    {% block content %}
    <section class="about-section container">
        <h2 class="section-header"> Hotel Facilities</h2>
        <div class="content">
            <div>
                <ul>
                    <li> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </li>
                    <li> Aliquam tincidunt mauris eu risus.</li>
                    <li> Vestibulum auctor dapibus neque. </li>
                    <li>Nunc dignissim risus id metus. </li>
                    <li> Cras ornare tristique elit. </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li> Vivamus vestibulum ntulla nec ante.</li>
                    <li> Praesent placerat risus quis eros.</li>
                    <li> Fusce pellentesque suscipit nibh.</li>
                    <li> Integer vitae libero ac risus egestas placerat.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="about-section container">
        <h2 class="section-header"> Guest Service</h2>
        <div class="content">
            <div>
                <ul>
                    <li> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </li>
                    <li> Aliquam tincidunt mauris eu risus.</li>
                    <li> Vestibulum auctor dapibus neque. </li>
                    <li>Nunc dignissim risus id metus. </li>
                    <li> Cras ornare tristique elit. </li>
                </ul>
            </div>

            <div>
                <ul>
                    <li> Vivamus vestibulum ntulla nec ante.</li>
                    <li> Praesent placerat risus quis eros.</li>
                    <li> Fusce pellentesque suscipit nibh.</li>
                    <li> Integer vitae libero ac risus egestas placerat.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="about-section container">
        <h2 class="section-header"> Activities</h2>
        <div class="content">
            <div class="room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3b/4f/16/punta-cana-princess-all.jpg">
            </div>
            <div class="room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3b/4f/16/punta-cana-princess-all.jpg">
            </div>
            <div class="room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3b/4f/16/punta-cana-princess-all.jpg">
            </div>
        </div>

       <div class="content">
            <div class="room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3b/4f/16/punta-cana-princess-all.jpg">
            </div>
            <div class="room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3b/4f/16/punta-cana-princess-all.jpg">
            </div>
            <div class="room">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/3b/4f/16/punta-cana-princess-all.jpg">
            </div>
        </div>
    </section>
    {% endblock %}
